<% provide(:title, dashboard_title('Edit Service')) %>
<% breadcrumb :edit_service, @service %>
<div class="row">
  <h1>Edit Service</h1>
</div>

<div class="row">

  <%= render 'admin/shared/success_alert' %>

  <%= form_for @service, url: service_path(@service), method: :patch, html: { role: 'form', multipart: true }  do |f| %>

  <% error_mes = @service.errors.messages %>

    <div class="form-group">
      <%= f.label :name, t('service_name') %> *
      <%= f.text_field :name, class: "form-control", placeholder: t('service_name'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:name] %>
    </div>

    <div class="form-group">
      <%= f.label :image, t('image') %> *
      <br>

      <div class="fileinput <%= @old_image_url ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">
        <div class="fileinput-new thumbnail">
          <%= image_tag(@old_image_url || @service.image_url) %>
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail">
          <%= image_tag(@service.image_url) %>
        </div>

        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new"><%= t('change') %></span>
            <span class="fileinput-exists"><%= t('change') %></span>
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </span>

          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>

        </div>
      </div>

      <%= render 'admin/shared/error_message', err_arr: error_mes[:image] %>
    </div>

    <div class="form-group ">
      <%= f.label :description %> *
      <%= f.text_area :description, class: "form-control", placeholder: t('description'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:description] %>
    </div>


    <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
