<% provide(:title, dashboard_title('Add New Service')) %>
<div class="row">
  <h1>Add New Service</h1>
</div>

<div class="row">

  <%= form_for @service, method: :post, html: { role: 'form', multipart: true }  do |f| %>

  <% error_mes = @service.errors.messages %>

    <div class="form-group">
      <%= f.label :name, t('service_name') %>
      <%= f.text_field :name, class: "form-control", placeholder: t('service_name'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:name] %>
    </div>

    <div class="form-group">
      <%= f.label :image, t('image') %>
      <br>

      <div class="fileinput <%= @service.image? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">
        <div class="fileinput-new thumbnail">
          <%= image_tag 'http://placehold.it/250x250&text=No+Image' %>
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail">
          <% if @service.image? %>
            <%= image_tag(@service.image_url) %>
          <% end %>
        </div>

        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new"><%= t('select_file') %></span>
            <span class="fileinput-exists"><%= t('change') %></span>
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </span>

        </div>
      </div>

      <%= render 'admin/shared/error_message', err_arr: error_mes[:image] %>
    </div>

    <div class="form-group ">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", placeholder: t('description'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:description] %>
    </div>


    <%= f.submit t('submit'), class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
