<% provide(:title, dashboard_title('Edit Member')) %>
<% breadcrumb :edit_team_member, @member %>
<div class="row">
  <h1>Edit Member</h1>
</div>

<div class="row">

  <%= render 'admin/shared/success_alert' %>

  <%= form_for @member, url: team_member_path(@member), method: :patch, html: { role: 'form', multipart: true }  do |f| %>

  <% error_mes = @member.errors.messages %>

    <div class="form-group">
      <%= f.label :title, t('member_title') %> *
      <%= f.text_field :title, class: "form-control", placeholder: t('member_title'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:title] %>
    </div>

    <div class="form-group">
      <%= f.label :name, t('member_name') %> *
      <%= f.text_field :name, class: "form-control", placeholder: t('member_name'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:name] %>
    </div>

    <div class="form-group">
      <%= f.label :image, t('image') %> *
      <br>

      <div class="fileinput <%= @old_avatar_url ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">
        <div class="fileinput-new thumbnail">
          <%= image_tag(@old_avatar_url || @member.avatar_url) %>
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail">
          <%= image_tag(@member.avatar_url) %>
        </div>

        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new"><%= t('change') %></span>
            <span class="fileinput-exists"><%= t('change') %></span>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          </span>

          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>

        </div>
      </div>

      <%= render 'admin/shared/error_message', err_arr: error_mes[:image] %>
    </div>

    <div class="form-group ">
      <%= f.label :description %> *
      <%= f.text_area :description, class: "form-control", placeholder: t('description'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:description] %>
    </div>


    <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
