<% provide :title, dashboard_title(t('member_list')) %>
<% breadcrumb :team_members %>
<div class="row">
  <h1><%= t('member_list') %></h1>
</div>

<div class="row">
  <%= render 'admin/shared/success_alert' %>
  <%= link_to t("add_new_member"), new_team_member_path, class: "btn btn-lg btn-primary" %>
  <div class="table-responsive member-list">
    <table class="table table-hover table-bordered table-striped">
      <% @members.each do |member| %>
      <tr>
        <td class="image col-md-3">
          <img src="<%= member.avatar_url(:thumb) %>" class="img-circle" />
        </td>
        <td>
          <p><%= member.title %></p>
          <p><%= member.name %></p>
          <p><%= member.description %></p>
        </td>
        <td class="options col-md-1">
          <%= link_to edit_team_member_path(member), class: 'member-edit' do %>
            <i class="fa fa-wrench"></i>
          <% end %>
          <%= link_to team_member_path(member), class: 'member-delete', method: :delete, data: { confirm: t(:delete_notice) } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <%= will_paginate @members, renderer: BootstrapPagination::Rails %>
</div>
