<% provide :title, dashboard_title(t('add_new_member')) %>
<div class="row">
  <h1><%= t('add_new_member') %></h1>
</div>

<div class="row">

  <%= form_for @member, method: :post, html: { role: 'form', multipart: true }  do |f| %>

  <% error_mes = @member.errors.messages %>

    <div class="form-group">
      <%= f.label :title, t('member_title') %> *
      <%= f.text_field :title, class: "form-control", placeholder: t('member_title'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:title] %>
    </div>

    <div class="form-group">
      <%= f.label :name, t('member_name') %> *
      <%= f.text_field :name, class: "form-control", placeholder: t('member_name'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:name] %>
    </div>

    <div class="form-group">
      <%= f.label :avatar, t('avatar') %> *
      <br>

      <div class="fileinput <%= @member.avatar? ? 'fileinput-exists' : 'fileinput-new' %>" data-provides="fileinput">
        <div class="fileinput-new thumbnail">
          <%= image_tag 'http://placehold.it/350x250&text=No+Image' %>
        </div>

        <div class="fileinput-preview fileinput-exists thumbnail">
          <% if @member.avatar? %>
            <%= image_tag(@member.avatar_url) %>
          <% end %>
        </div>

        <div>
          <span class="btn btn-default btn-file">
            <span class="fileinput-new"><%= t('select_file') %></span>
            <span class="fileinput-exists"><%= t('change') %></span>
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
          </span>

        </div>
      </div>

      <%= render 'admin/shared/error_message', err_arr: error_mes[:image] %>
    </div>

    <div class="form-group ">
      <%= f.label :description %> *
      <%= f.text_area :description, class: "form-control", placeholder: t('description'), required: "", autofocus: "" %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:description] %>
    </div>


    <%= f.submit 'Submit', class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
