<% provide :title, dashboard_title(@work.name) %>
<div class="row">
  <h1>
    <%= t 'work_detail', work: @work.name %>
    <%= link_to t('delete_this_work'), work_path(@work), class: 'btn btn-md btn-danger work-delete', method: :delete, data: { confirm: t(:delete_notice) }  %>
  </h1>
</div>
<div class="row">
  <%= render 'admin/shared/success_alert' %>
</div>

<div class="row">
  <div class="work-detail col-md-6">
    <h2><%= t('general_info')%></h1>
    <div class="work-row">
      <h4><%= t('name') %></h4>
      <p><%= @work.name %></p>
    </div>

    <div class="work-row cover-photo">
      <h4><%= t('cover_photo')%></h4>
      <%= image_tag @work.cover_photo_url, class: 'img-rounded' %>
    </div>

    <% if @work.link %>
      <div class="work-row">
        <h4><%= t('link') %></h4>
        <p><%= @work.link %></p>
      </div>
    <% end %>

    <div class="work-row">
      <h4><%= t('story') %></h4>
      <p><%= @work.story %></p>
    </div>

    <div class="work-row">
      <h4><%= t('tech_used') %></h4>
      <p><%= @work.techs %></p>
    </div>

    <div class="work-row">
      <h4><%= t('client') %></h4>
      <p><%= @work.client_name %></p>
    </div>

    <% if @work.client_info %>
      <div class="work-row">
        <h4><%= t('client_info') %></h4>
        <p><%= @work.client_info %></p>
      </div>
    <% end %>

    <% if @work.client_quote %>
      <div class="work-row">
        <h4><%= t('client_quote') %></h4>
        <p><%= @work.client_quote %></p>
      </div>
    <% end %>

    <div class="work-row">
      <%= link_to t('edit'), edit_work_path(@work), class: 'btn btn-md btn-primary' %>
    </div>
  </div>

  <div class="tasks-list col-md-6">
    <h2><%= t('tasks')%></h2>
    <div class="images-option">
      <%= link_to t('add_task'), new_work_task_path(@work), class: 'btn btn-md btn-primary' %>
    </div>


  </div>
</div>
