<% provide :title, dashboard_title(t('edit_post')) %>
<% breadcrumb :edit_post, @post %>
<div class="row">
  <h1><%= t('edit_post') %></h1>
</div>

<div class="row">

  <%= render 'admin/shared/success_alert' %>

  <%= form_for @post, url: post_path(@post), method: :patch, html: { role: 'form' } do |f| %>

    <% error_mes = @post.errors.messages %>

    <div class="form-group">
      <%= f.label :title, t('title') %>
      <%= f.text_field :title, class: 'form-control', placeholder: t('title'), require: '', autofocus: '' %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:title] %>
    </div>

    <div class="form-group">
      <input type="hidden" value="<%= post_image_path %>" id="post-image-path"></input>
      <%= f.label :content, t('content') %>
      <%= f.text_area :content, class: 'form-control', placeholder: t('content'), require: '', autofocus: '' %>
      <%= render 'admin/shared/error_message', err_arr: error_mes[:content] %>
    </div>

    <%= f.submit t('submit'), class: 'btn btn-lg btn-primary' %>
  <% end %>
</div>
