<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='admin'>

  <%= render 'admin/layouts/header' %>

  <div id="wrapper">
    <%= render 'admin/layouts/sidebar' %>

    <div class="page-content-wrapper">
      <div class="page-content inset">
        <%= yield %>
        <%= render 'layouts/debug' %>
      </div>
    </div>
  </div>

</body>
</html>
